.mt10 {
  margin-top: 10px;
}

a, button, code, div, img, input, label, li, p, pre, select, span, svg, table, td, textarea, th, ul {
  border-radius: 0 !important;
  box-shadow: none !important;
}

.btn {
  color: #FFF;
}

.btn.green {
  background-color: #32c5d2;
  border-color: #32c5d2;
}

.btn.green:hover {
  color: #FFF;
  background-color: #26a1ab;
  border-color: #2499a3;
}

.btn.blue {
  background-color: #3598dc;
  border-color: #3598dc;
}

.btn.blue:hover {
  color: #FFF;
  background-color: #217ebd;
  border-color: #1f78b5;
}

.has-error {
    border-color: #e73d4a;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.error#message {
  color: red;
}

.success#message {
  color: green;
}
